Makefile
config.log
config.status
libtool

build-aux/config.h
build-aux/stamp-h1

fused-src/gtest/.deps/*

lib/*
autom4te.cache/*

samples/.deps/*
samples/.dirstamp
samples/.libs/*
samples/libsamples.la
samples/sample[1|2|4].o
samples/sample[1|2|4].lo

scripts/gtest-config

src/.deps/*
src/.dirstamp
src/.libs/*
src/gtest-all.o
src/gtest-all.lo
src/gtest_main.o
src/gtest_main.lo

test/.deps/*
