Makefile
config.log
config.status
libtool

build-aux/config.h
build-aux/stamp-h1

fused-src/.deps/*

lib/*
autom4te.cache/*
gtest/autom4te.cache/*

scripts/gmock-config

src/.deps/*
src/.dirstamp
src/.libs/*
src/gmock-all.o
src/gmock-all.lo
src/gmock_main.o
src/gmock_main.lo

test/.deps/*
